<ion-header>
  <ion-toolbar>
    <ion-title>Device Status</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button primary (click)="record()" *ngIf="!recording">Record</ion-button>
  <ion-button primary *ngIf="recording">Recording</ion-button>
  <ion-button (click)="logData()" >Log Data</ion-button>
  <ion-button (click)="logActivities()" >Log Activities</ion-button>
  <ion-button (click)="clearData()" >Clear Data</ion-button>
  <ion-button (click)="clearActivities()" >Clear Activities</ion-button>
  <ion-button (click)="doSendData()">Send Data</ion-button> 
  <ion-button (click)="doClassification()">Do Classification</ion-button> 
</ion-content>
