<ion-header>
    <ion-toolbar color="primary">
      <ion-title>
        Routine Change Detector
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div class="ion-padding">
  
      <ion-list>
        <ion-item *ngFor="let item of items">
          <ion-label>
            <h2>{{item.datetime}}</h2>
            <h3 *ngIf="item.anomaly===true">Anomaly</h3>
            <h3 *ngIf="item.anomaly===false">Regular</h3>
            <h3 *ngIf="item.anomaly==undefined">Un-classified</h3>
            <p>{{item.activityList}}</p>
          </ion-label>
          <ion-icon slot='end' name='arrow-dropright' (click)="editActivity(item)"></ion-icon>
        </ion-item>
      </ion-list>
  
      <ion-infinite-scroll threshold="250px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content
          loadingSpinner="bubbles"
          loadingText="Loading more data...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
  
    </div>
  </ion-content>