<ion-header>
  <ion-toolbar>
    <ion-title>
      Accelerometer
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label>
      Accelerometer
    </ion-label>
    <ion-label name="lbl:acc">
      Item
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      Gyroscope
    </ion-label>
    <ion-label name="lbl:gyro">
      Item
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      Magnetometer
    </ion-label>
    <ion-label name="lbl:magn">
      Item
    </ion-label>
  </ion-item>

</ion-content>
